.CardStrip{
    width: 100%;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    font-family: "Poppins";
    transition: 0.3s ease-in-out;
    margin: 1%;
}
.CardStrip img{
    width: 70px;
}
.CardStrip button{
    padding: 1.2% 2.5%;
    background-color: bisque;
    border: none;
    border-radius: 5px;
    font-family: "Poppins";
}
.Tdetails{
    width: 20vw;
    margin: 0 3%;
}
.Tdetails p{
    color: rgb(147, 147, 147);
}
.CardStrip:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s ease-in-out;
}